{%extends "base.html"%}
{%block title%}
<title>{{title}}</title>
{%endblock title%}
{%block content%}
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url('/static/img/background.jpg');color:rgba(0, 0, 0, 0.55);">
            <div class="text">
                <h2>WELCOME TO MANAGER+</h2>
                <p>YOUR ONE STOP SOLUTION FOR PROJECT MANAGEMENT</p>
                <a href="/login"><button class="btn btn-outline-light btn-lg" type="button">Login</button></a>
                <a href="/register"><button class="btn btn-outline-light btn-lg" type="button" >Sign Up</button></a>
            </div>
        </section>

{%endblock content%}