{%extends "base.html"%}
{%block title%}
<title>{{title}}</title>
{%endblock title%}


{%block content%}
    <main class="page login-page">
         {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for c,m in messages %}
            <div class="alert alert-{{c}}" role="alert">
               <a href="#" class="close" data-dismiss='alert' aria-label="close">&times;</a>
                {{m}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}
        <section class="clean-block clean-form dark">
            <div class="container">
                            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                <div class="block-heading">
                    <h2 class="text-info">PROFILE</h2>
                </div>
                <a href="/updateimg">
                <div class="media"><img class="mr-3" height="150" width="150" border-radius="50%" src="{{dp}}">
                </a>

                    <div class="media-body">
                        <br>
                        <br>

                        <h2> &nbsp; &nbsp; &nbsp;{{dict1['first_name']}} {{dict1['last_name']}}</h2>
                    </div>
                </div>
            <br><br>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            {%for key,value in dict1.items()%}
                            {%if key not in ['first_name','last_name','password','typex']%}
                                <tr>
                                    <th>{{key.title()}}</th>
                                    <th>{{value}}</th>
                                </tr>
                            {%endif%}
                            {%endfor%}
                            </thead>
                        </table>

            </div>

                 <script type="text/javascript">

                function deletionconfirmation()
                {
                  var a=confirm("This will permanently delete your account and all its data , Are You sure you want to Continue?")
                  return a;

                }


              </script>

           
</div>
                    </div>
        </section>
    </main>
   {%endblock content%}

